@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title.</h3>

<p>
    If you have any comment or questions, please email me at <a href="mailto:prayashsharma@live.com">prayashsharma@live.com.</a><br />    
</p>