@model PrayashStore.ViewModels.UserResetPasswordViewModel

<div id="modal-error" class="text-danger"></div>
<br />
<div class="form-group">
    @Html.LabelFor(x => x.Password)
    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.LabelFor(x => x.ConfirmPassword)
    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
</div>